<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Favorite
        </ion-title>
        <ion-button (click)="delete()">
            <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>





<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item>
            <ion-grid class="ion-padding-top">
                <ion-row *ngFor="let fv of fav" class="ion-padding-top">
                    <ion-col size="4">
                        <small><ion-icon name="calendar-outline"></ion-icon>
                        {{fv.date|date:'dd MMM yyyy'}} <br> 
                        <ion-icon  name="time-outline"></ion-icon>
                           {{fv.date|date:'HH:mm '}}</small>
                    </ion-col>
                    <ion-col size="3">
                        <ion-label>
                            {{fv.main}} <br/> <small>({{fv.desc}})</small>
                        </ion-label>
                    </ion-col>
                    <ion-col size="3">
                        <ion-label class="ion-padding-top" color="success">
                            <small>{{ fv.temp }} °C</small>
                        </ion-label>
                    </ion-col>
                    <ion-col size="2">
                        <img class="ion-margin-bottom" src="http://openweathermap.org/img/wn/{{fv.icon}}@2x.png"/>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>

